*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.div1{	
	background-color: #35424a;
	border-bottom: 5px solid coral;
}
.div2{
	font-family: sans-serif;
	width: 80%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}
.div2 h1,ul li{
	display: inline-block;
}
.div2 ul{
	padding-top: 10px;
	float: right;
	display: inline-block;
}
.div2 h1 span{
	color: coral;
}
.div2 ul li a{
	cursor: pointer;
	padding: 0px 10px;
	text-decoration: none;
	color: white;
}
.div2 ul li a:hover{
	color: coral;
}
.div3{
	background-color: #35424a;
	width: 100%;
}
.div4{
	font-family: sans-serif;
	padding: 20px 0;
	color: white;
	margin: auto;
	width: 75%;
}
.div4 .div5{
	float: right;
}
.div4 h2{
	display: inline-block;
}
.div5 input{
	height: 25px;
}
.button{
	padding: 5px;
	background-color: coral;
	border: none;
	color: white;
	height: 25px;
	cursor: pointer;
}
.div7{
	width: 100%;
	padding: 20px 0px;
	text-align: center;
	background-color: coral;
	margin-top: 20px;
	color: white;
}
.div2 ul li .a3{
	color: coral;
}
.div6 .div8 .p1{
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}
.div6 .div8{
	width: 55%;
	margin: 20px 0px 0px 200px;
	font-family: sans-serif;
}
.div6 .div8 .div9{
	border-radius: 30px;
	padding: 15px 20px;
	background-color: #ccccff;
}
.div6 .div8 .div9 h1,p{
	margin: 10px;
}
.div6 .div8 .div10{
	border-radius: 30px;
	padding: 15px 20px;
	margin-top: 5px;
	background-color: #ccccff;
}
.div6 .div8 .div11{
	border-radius: 30px;
	padding: 15px 20px;
	margin-top: 5px;
	background-color: #ccccff;
}
.div6{
	display: flex;
}
.div12{
	margin: 10px 0px 0px 50px;
	background-color: #35424a;
	font-family: sans-serif;
	max-height: 290px;
	width: 250px;
	color: white;
}
.div12 input,textarea{
	margin-left: 10px;
	width: 90%;
}
.div12 h1{
	margin: 25px 0px 10px 10px;
}
.div12 .button1{
	margin-left: 10px;
	background-color: coral;
	border: none;
	color: white;
	padding: 10px;
}